@import 'general/reset.scss';

@import 'general/definitions/fonts.scss';
@import 'general/definitions/variables.scss';
@import 'general/definitions/mixins.scss';

@import 'general/global_modifiers.scss';
@import 'general/header.scss';
@import 'general/footer.scss';
@import 'general/layout_elements.scss';
@import 'general/typography.scss';

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    
    &.-linen {
        background-image: image-url('linen.jpg');
        background-repeat: repeat;
    }
}

footer,
header, 
main {
    display: block;
}

html {
    height: 100%;
}

.map-container {
    border: 12px double $color-tundora;
    height: 30em;
    width: 38em;
}

#map-canvas {
    width: 100%;
    height: 100%;
}

