a, 
abbr, 
acronym, 
address, 
applet, 
big, 
blockquote, 
body, 
caption, 
cite, 
code, 
dd, 
del, 
dfn, 
div, 
dl, 
dt, 
em, 
fieldset, 
font, 
form,
h1, 
h2,
h3, 
h4, 
h5, 
h6, 
html, 
iframe, 
img, 
ins, 
kbd, 
label, 
legend, 
li, 
main, 
object, 
ol, 
p, 
pre, 
q, 
s, 
samp, 
small, 
span, 
strike,
sub, 
sup, 
table, 
tbody, 
td, 
tfoot, 
th, 
thead, 
tr, 
tt, 
ul, 
var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

*:focus,
*:active {
    outline: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

blockquote, q {
    quotes: "" "";
    
    &:after, &:before {
        content: "";
    }
}

body {
    background: white;
    color: black;
    font-size: 16px;
    line-height: 1;
}

body,
html {
    width: 100%;
}

button,
input,
select,
textarea {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

caption,
td,
th {
    font-weight: normal;
    text-align: left;
}

html {
    height: 100%;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    cell-spacing: 0;
}

::-moz-focus-inner {
    border: 0;
    outline: 0;
}
