// COLORS

$color-deep-sea: #117766;
$color-free-speech-red: #cc0011;
$color-gray-nickel: #c3c3bd;
$color-tundora: #4a4244;
$color-white: #ffffff;

// SIZES

$size-container-width: 80em;
$size-footer-height: 8em;
$size-footer-padding: 12em;
