%footer
    %table.footer-content
        %tbody
            %tr
                %td.footer-panel.footer-panel-left
                    %div
                        &copy
                        = "#{Time.now.year}"
                        River Ridge Farms
                    %div
                        All rights reserved
                %td.footer-panel.footer-panel-middle
                    %div.diamond-circled.margin-auto
                %td.footer-panel.footer-panel-right
                    %div
                        15585 68th Ave, Coopersville MI
                    %div
                        (616) 837-7307
