%header
    %div.header-content.container
        %div.vertically-center.float-left
            %h1.heading.-accent.-grand.no-whitespace
                River Ridge Farms
        %nav.header-nav
            = link_to 'Home', root_path, :class => 'header-link'
            = link_to 'About Us', about_path, :class => 'header-link'
            = link_to 'Contact', contact_path, :class => 'header-link'
            
